body {
    margin: 0;
    text-align: center;
}


.container {
    display: flex;
    justify-content: space-around;
    background-color: #0C4A6E;

}

p {
    margin: 15px;
     background-color: #080001;
    border-radius: 10px;
    color: #F94F6D;
    text-align: center;
    height: 120px;
    width: 155px;
    font-size: 90px;
}


.container h3 {
    font-family: Verdana;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #eeeeee;
}
.button {
    background: transparent;
    color: #cfdbfd;
    border: 2px solid #cfdbfd;
    border-radius: 5px;
    margin-top: 15px;
    padding: 8px;
    margin-left: 3px;
    margin-right: 3px;
}

.btn {
    margin-bottom: 50px;
}

.button:hover {
    cursor: pointer;
    opacity: 80%;
}